<div id="root">
    <app-header-menu></app-header-menu>

    <app-breadcrumb-header [breadcrumb]="breadcrumb" [background]="bannerPicture"></app-breadcrumb-header>

    <!-- START SECTION NEWS -->
    <section class="small_pt">
        <div class="container">
            <div class="row justify-content-center">
                <div *ngFor="let news of newsList" class="col-lg-4 col-md-6">
                    <div class="blog_post box_shadow1 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                        <div class="blog_img radius_ltrt_10">
                            <a routerLink="{{'/' + linkPrefix + '/news/' + news.Id + '/' + news.Slug}}">
                                <img src="{{news.Picture}}" alt="{{news.Title}}">
                                <!-- <div class="link_blog">
                                    <span class="ripple"><i class="fa fa-link"></i></span>
                                </div> -->
                            </a>
                        </div>
                        <div class="blog_content bg-white">
                            <h6 class="blog_title"><a routerLink="{{'/' + linkPrefix + '/news/' + news.Id + '/' + news.Slug}}">{{news.Title}}</a></h6>
                            <p>{{news.Description}}</p>
                            <a routerLink="{{'/' + linkPrefix + '/news/' + news.Id + '/' + news.Slug}}" class="text-capitalize">Read More</a>
                        </div>
                        <div class="blog_footer bg-white radius_lbrb_10">
                            <ul class="list_none blog_meta">
                                <li><a routerLink="{{'/' + linkPrefix + '/news/' + news.Id + '/' + news.Slug}}"><i class="ion-calendar"></i>
                                    {{news.Date | customdate: "date"}} 
                                    {{news.Date | customdate: "month"}}, 
                                    {{news.Date | customdate: "year"}}
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="ion-ios-arrow-thin-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </section>
    <!-- END SECTION NEWS -->

    <app-footer></app-footer>
</div>

