<div id="root">
    <app-header-menu></app-header-menu>

    <app-breadcrumb-header [breadcrumb]="breadcrumb" [background]="bannerPicture"></app-breadcrumb-header>

    <!-- START SECTION ADMISSION FORM -->
    <section class="small_pb">
        <div class="container">	
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="text-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.01s" style="animation-delay: 0.01s; opacity: 1;">
                        <div class="heading_s1 text-center">
                            <h2 class=" text-center">Admission Form</h2>
                        </div>
                        <div class=" text-center"></div>
                        <div class="small_divider"></div>
                    </div>
                </div>
            </div>

            <!-- FATHER DETAILS -->
            <form #fatherDetail="ngForm" (ngSubmit)="btnFatherDetailNext(fatherDetail.value)" >
            <div class="row">
                <div class="col-12">
                    <div class="box_shadow1 radius_all_10">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="form-padding">
                                    <h4>Father Details</h4><br>
                                    <h5>General Information</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Civil ID 
                                                <span *ngIf="txtcivilID.invalid && txtcivilID.touched && txtcivilID.value==''" class="error">(required)</span>
                                                <span *ngIf="txtcivilID.errors?.minlength || txtcivilID.errors?.maxlength" class="error">
                                                    (Must be 12 Characters)
                                                </span> 
                                            </mat-label>
                                            <input type="text" minlength="12" maxlength="12" #txtcivilID="ngModel" required name="txtcivilID" ngModel matInput autocomplete="off" class="form-control">
                                            
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Nationality Category <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control" name="ddlNationalityCategory" ngModel>
                                                <mat-option [value]='1'>Kuwaiti</mat-option>
                                                <mat-option [value]='2'>Non-Kuwaiti</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Nationality <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control" name="ddlNationality" ngModel>
                                                <mat-option [value]='1'>Kuwait</mat-option>
                                                <mat-option [value]='2'>Egypt</mat-option>
                                                <mat-option [value]='2'>Jordan</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Marital Status <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control" name="ddlMaritalStatus" ngModel>
                                                <mat-option [value]='1'>Married</mat-option>
                                                <mat-option [value]='2'>Un-Married</mat-option>
                                                <mat-option [value]='2'>Divorced</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>First Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtFirstNameAr" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Second Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtSecondNameAr" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Third Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtThirdNameAr" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Fourth Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtFourthNameAr" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>First Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtFirstNameEn" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Second Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtSecondNameEn" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Third Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtThirdNameEn" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Fourth Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtFourthNameEn" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <br>
                                    <h5>Qualification & Job Details</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Qualification <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control" name="ddlQualification" ngModel>
                                                <mat-option [value]='1'>Graduate</mat-option>
                                                <mat-option [value]='2'>Post Graduate</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Employeed? <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control" name="ddlEmployed" ngModel>
                                                <mat-option [value]='1'>Yes</mat-option>
                                                <mat-option [value]='2'>No</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Job Title <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control" name="ddlJobTitle" ngModel>
                                                <mat-option [value]='1'>Doctor</mat-option>
                                                <mat-option [value]='2'>Engineer</mat-option>
                                                <mat-option [value]='2'>Teacher</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Job Sector <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control" name="ddlJobSector" ngModel>
                                                <mat-option [value]='1'>Governoment</mat-option>
                                                <mat-option [value]='2'>Private</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <br>
                                    <h5>Contact Information</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Mobile Number <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtMobileNumber" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Home Phone Number <span class="compulsory">*</span></mat-label>
                                            <input type="text" name="txtHomePhoneNumber" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Email Address <span class="compulsory">*</span></mat-label>
                                            <input type="email" name="txtEmailAddress" ngModel matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-default btn-sm"  type="submit">Next</button>
                </div>
            </div>
        </form>

        </div>
    </section>
    <!-- END SECTION ADMISSION FORM -->
    
    <app-footer></app-footer>
</div>

