<div id="root">
    <app-header-menu></app-header-menu>

    <app-breadcrumb-header [breadcrumb]="breadcrumb" [background]="bannerPicture"></app-breadcrumb-header>

    <!-- START SECTION ADMISSION FORM -->
    <section class="small_pb">
        <div class="container">	
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="text-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.01s" style="animation-delay: 0.01s; opacity: 1;">
                        <div class="heading_s1 text-center">
                            <h2 class=" text-center">Admission Form</h2>
                        </div>
                        <div class=" text-center"></div>
                        <div class="small_divider"></div>
                    </div>
                </div>
            </div>

            <!-- FATHER DETAILS -->
            <form #fatherDetail="ngForm" (ngSubmit)="btnFatherDetailNext()" >
            <div class="row">
                <div class="col-12">
                    <div class="box_shadow1 radius_all_10">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="form-padding">
                                    <h4>Father Details</h4><br>
                                    <h5>General Information</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Civil ID 
                                                <span *ngIf="txtcivilid.errors?.required" class="error">(required)</span>
                                                <span *ngIf="txtcivilid.errors?.minlength || txtcivilid.errors?.maxlength" class="error">
                                                    (Must be 12 Characters)
                                                </span> 
                                            </mat-label>
                                            <input type="text" id="txtcivilid" name="txtcivilid" #txtcivilid="ngModel" [(ngModel)]="civilid" ngModel oninput="this.value=this.value.replace(/[^\d]/,'')" minlength="12" maxlength="12"  required  matInput autocomplete="off" class="form-control">                                            
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Nationality Category 
                                            <span *ngIf="ddlnationalitycategory.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <mat-select id="ddlnationalitycategory" name="ddlnationalitycategory" #ddlnationalitycategory="ngModel" [(ngModel)]="nationalitycategory" ngModel required class="form-control">
                                                <mat-option [value]='1'>Kuwaiti</mat-option>
                                                <mat-option [value]='2'>Non-Kuwaiti</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Nationality 
                                            <span *ngIf="ddlnationality.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <mat-select id="ddlnationality" name="ddlnationality" #ddlnationality="ngModel"  [(ngModel)]="nationality" ngModel required class="form-control"  >
                                                <mat-option [value]='1'>Kuwait</mat-option>
                                                <mat-option [value]='2'>Egypt</mat-option>
                                                <mat-option [value]='2'>Jordan</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Marital Status 
                                            <span *ngIf="ddlmaritalstatus.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <mat-select id="ddlmaritalstatus" name="ddlmaritalstatus" #ddlmaritalstatus="ngModel" [(ngModel)]="maritalstatus" ngModel required class="form-control" >
                                                <mat-option [value]='1'>Married</mat-option>
                                                <mat-option [value]='2'>Un-Married</mat-option>
                                                <mat-option [value]='2'>Divorced</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>First Name (Arabic) 
                                            <span *ngIf="txtFirstNameAr.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtFirstNameAr" name="txtFirstNameAr" #txtFirstNameAr="ngModel" [(ngModel)]="firstnamear" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Second Name (Arabic) 
                                            <span *ngIf="txtSecondNameAr.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtSecondNameAr" name="txtSecondNameAr" #txtSecondNameAr="ngModel" [(ngModel)]="secondnamear" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Third Name (Arabic) 
                                            <span *ngIf="txtThirdNameAr.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtThirdNameAr" name="txtThirdNameAr" #txtThirdNameAr="ngModel" [(ngModel)]="thirdnamear" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Fourth Name (Arabic)
                                            <span *ngIf="txtFourthNameAr.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtFourthNameAr" name="txtFourthNameAr" #txtFourthNameAr="ngModel" [(ngModel)]="fourthnamear" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>First Name (English) 
                                            <span *ngIf="txtFirstNameEn.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtFirstNameEn" name="txtFirstNameEn" #txtFirstNameEn="ngModel" [(ngModel)]="firstnameen" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Second Name (English) 
                                            <span *ngIf="txtSecondNameEn.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtSecondNameEn" name="txtSecondNameEn" #txtSecondNameEn="ngModel" [(ngModel)]="secondnameen" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Third Name (English) 
                                            <span *ngIf="txtThirdNameEn.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtThirdNameEn" name="txtThirdNameEn" #txtThirdNameEn="ngModel" [(ngModel)]="thirdnameen" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Fourth Name (English)
                                            <span *ngIf="txtFourthNameEn.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtFourthNameEn" name="txtFourthNameEn" #txtFourthNameEn="ngModel" [(ngModel)]="fourthnameen" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <br>
                                    <h5>Qualification & Job Details</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Qualification
                                            <span *ngIf="ddlQualification.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <mat-select id="ddlQualification" name="ddlQualification" #ddlQualification="ngModel" [(ngModel)]="qualification" ngModel required class="form-control" >
                                                <mat-option [value]='1'>Graduate</mat-option>
                                                <mat-option [value]='2'>Post Graduate</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Employeed? 
                                            <span *ngIf="ddlEmployed.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <mat-select id="ddlEmployed" name="ddlEmployed" #ddlEmployed="ngModel" [(ngModel)]="employed" ngModel required class="form-control" >
                                                <mat-option [value]='1'>Yes</mat-option>
                                                <mat-option [value]='2'>No</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Job Title 
                                            <span *ngIf="ddlJobTitle.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <mat-select id="ddlJobTitle" name="ddlJobTitle" #ddlJobTitle="ngModel" [(ngModel)]="jobtitle" ngModel required class="form-control" >
                                                <mat-option [value]='1'>Doctor</mat-option>
                                                <mat-option [value]='2'>Engineer</mat-option>
                                                <mat-option [value]='2'>Teacher</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Job Sector 
                                                <span *ngIf="ddlJobSector.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <mat-select id="ddlJobSector" name="ddlJobSector" #ddlJobSector="ngModel" [(ngModel)]="jobsector" ngModel required class="form-control" >
                                                <mat-option [value]='1'>Governoment</mat-option>
                                                <mat-option [value]='2'>Private</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <br>
                                    <h5>Contact Information</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Mobile Number
                                            <span *ngIf="txtMobileNumber.errors?.required" class="error">(required)</span>
                                            <span *ngIf="txtMobileNumber.errors?.maxlength || txtMobileNumber.errors?.minlength" class="error">Mobile not valid</span>
                                            </mat-label>
                                            <input type="text" id="txtMobileNumber" name="txtMobileNumber" #txtMobileNumber="ngModel" [(ngModel)]="mobilenumber" ngModel required matInput 
                                            oninput="this.value=this.value.replace(/[^\d]/,'')" minlength="8" maxlength="8" autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Home Phone Number 
                                            <span *ngIf="txtHomePhoneNumber.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="text" id="txtHomePhoneNumber" name="txtHomePhoneNumber" #txtHomePhoneNumber="ngModel" [(ngModel)]="homenumber" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Email Address 
                                            <span *ngIf="txtEmailAddress.errors?.required" class="error">(required)</span>
                                            </mat-label>
                                            <input type="email" id="txtEmailAddress" name="txtEmailAddress" #txtEmailAddress="ngModel" [(ngModel)]="emailaddress" ngModel required matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-default btn-sm"  [disabled]="!fatherDetail.valid" type="submit">Next</button>
                </div>
            </div>
        </form>

        </div>
    </section>
    <!-- END SECTION ADMISSION FORM -->
    
    <app-footer></app-footer>
</div>

