.btn-school-year {
    line-height: 25px;
    width: 290px;
    max-width: 100% !important;
}
.form-padding {
    padding: 25px !important;
}
.compulsory {
    color: #ff0000;;
}
.mat-label {
    line-height: 50px !important;
}
.form-control {
    margin: 5px 0px 15px 0;
}