<div id="root">
    <app-header-menu></app-header-menu>

    <app-breadcrumb-header [breadcrumb]="breadcrumb" [background]="bannerPicture"></app-breadcrumb-header>

    <!-- START SECTION ADMISSION FORM -->
    <section class="small_pb">
        <div class="container">	
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="text-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.01s" style="animation-delay: 0.01s; opacity: 1;">
                        <div class="heading_s1 text-center">
                            <h2 class=" text-center">Admission Form</h2>
                        </div>
                        <div class=" text-center"></div>
                        <div class="small_divider"></div>
                    </div>
                </div>
            </div>

            <!-- EMAIL ADDRESS -->
            <div class="row">
                <div class="col-12">
                    <div class="box_shadow1 radius_all_10">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="form-padding">
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-6 offset-lg-3">
                                                <mat-label>Enter your email address <span class="compulsory">*</span></mat-label>
                                                <input type="text" matInput autocomplete="off" class="form-control">
                                                <button class="btn btn-default btn-sm" type="button">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <!-- VERIFY EMAIL ADDRESS -->
            <div class="row">
                <div class="col-12">
                    <div class="box_shadow1 radius_all_10">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="form-padding">
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-6 offset-lg-3">
                                                <mat-label>Enter the 4 digit code sent on your email address <span class="compulsory">*</span></mat-label>
                                                <input type="text" matInput autocomplete="off" class="form-control">
                                                <button class="btn btn-default btn-sm" type="button">Verify</button>&nbsp;
                                                <button class="btn btn-default btn-sm" type="button">Resend Code</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        </div>
    </section>
    <!-- END SECTION ADMISSION FORM -->
    
    <app-footer></app-footer>
</div>

