<div id="root">
    <app-header-menu></app-header-menu>

    <app-breadcrumb-header [breadcrumb]="breadcrumb" [background]="bannerPicture"></app-breadcrumb-header>

    <!-- START SECTION ADMISSION FORM -->
    <section class="small_pb">
        <div class="container">	
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="text-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.01s" style="animation-delay: 0.01s; opacity: 1;">
                        <div class="heading_s1 text-center">
                            <h2 class=" text-center">Admission Form</h2>
                        </div>
                        <div class=" text-center"></div>
                        <div class="small_divider"></div>
                    </div>
                </div>
            </div>

            <!-- STUDENT DETAILS -->
            <div class="row">
                <div class="col-12">
                    <div class="box_shadow1 radius_all_10">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="form-padding">
                                    <h4>Student Details</h4><br>                                    
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Civil ID <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Civil ID Serial Number <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Nationality Category <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control">
                                                <mat-option [value]='1'>Kuwaiti</mat-option>
                                                <mat-option [value]='2'>Non-Kuwaiti</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Nationality <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control">
                                                <mat-option [value]='1'>Kuwait</mat-option>
                                                <mat-option [value]='2'>Egypt</mat-option>
                                                <mat-option [value]='2'>Jordan</mat-option>
                                            </mat-select>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>First Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Second Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Third Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Fourth Name (Arabic) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>First Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Second Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Third Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Fourth Name (English) <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Gender <span class="compulsory">*</span></mat-label>
                                            <mat-select class="form-control">
                                                <mat-option [value]='1'>Male</mat-option>
                                                <mat-option [value]='2'>Female</mat-option>                                                
                                            </mat-select>
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Religion <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Passport Number <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Civil ID Expiry Date <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Date of Birth <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Birth Certificate No <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Birth Certificate Issue Date <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Country of Birth <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Birth Certificate Issue Country <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Grade Applied For <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <h5>Address Details</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Area <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Block <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Street <span class="compulsory">*</span></mat-label>
                                            <input type="email" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Avenue <span class="compulsory">*</span></mat-label>
                                            <input type="email" matInput autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>House Number <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>                                       
                                    </div>
                                    <br>
                                    <h5>Health Status</h5>
                                    <div class="row">
                                        <div class="col-3">
                                            <mat-label>Student has health problems? <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <mat-label>Health Status Details <span class="compulsory">*</span></mat-label>
                                            <input type="text" matInput autocomplete="off" class="form-control">
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-default btn-sm" (click)="btnStudentDetailsNext()" type="button">Next</button>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION ADMISSION FORM -->
    
    <app-footer></app-footer>
</div>